/*Home CSS*/
#wrapper {
  text-align: center
}


#hangry {
  font-family: 'Anton';
  color: dimgrey;
  font-size : 3em;
  /*text-transform: none;*/
}

.hang {
  color: tomato;
  font-size :1.6em;
}

.nom {
  color: tomato;
  font-size :1.6em;
}

.meh {
  color: tomato;
  font-size :1.6em;
}

.flag {
  color: tomato;
  font-size :1.6em;
}
