/*Home CSS*/

.container-fluid {
  text-align: center;
  display: none;
  padding: 0;
}

#pics img {
  display: none;
  padding-top: 2em;
  padding-bottom: 2em;
}

#pics img:first-child {
  display: inline-block;
}


#hangry {
  font-family: 'Anton';
  color: dimgrey;
  font-size : 3.75em;
  /*padding-bottom: 3%;*/
  /*text-transform: none;*/
}

.hang {
  color: tomato;
  font-size :3em;
}

#nom {
  width: 100px;
  height: 100px;
  font-size :4em;
  color: tomato;
}

#meh {
  width: 100px;
  height: 100px;
  color: tomato;
  font-size :4em;
}

#flag {
  color: dimgrey;
  width: 100px;
  height: 100px;
  font-size :3em;
}

.text {
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 3em;
  padding: 1em;
  padding: 0;
  width: 25%;
  margin: auto;
  padding-bottom: 5em;
  padding-top: 5em;
  display:none;
}

#results {
  padding-top: 0.5em;
}

.text h2{
  color: tomato;
  font-size: 2em;
}

@media (max-width: 768px) {
  #pics img {
    width: 100%;
    margin: 0;
  }

  .text {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    padding: 0;
    width: 15em;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  #info {
    padding-bottom: 7em;
    padding-top: 7em;
    color: 404040;
  }

  #results {
    padding-bottom: 7em;
    /*padding-top: 1em;*/
    color: 404040;
  }


  #hangry {
    padding-bottom: 0;
    padding-top: 5%;
  }

  #nom {
    padding-top: 7%;
  }

  #meh {
    padding-top: 7%;
  }

  #flag {
    padding-top: 7%;
  }

  #wrapper {
    padding: 0;
  }

}
