/*Home CSS*/
.container-fluid {
  text-align: center;
}

#pics img {
  display: none;
  padding-top: 2em;
}

#pics img:first-child {
  display: inline-block;
}

.text {
  color: black;
  font-size: 2em;
  text-align: center;
  margin: 3em;
  padding: 1em;
  padding: 0;
  width: 25%;
  margin: auto;
  /*padding-top: 2.5%;*/
  padding-bottom: 1em;
}

/*#info {
  padding: 2em;
}

#results {
  padding: 0;
}*/

#hangry {
  /*font-family: 'Amatic SC', cursive;*/
  font-family: 'Anton';
  color: dimgrey;
  font-size : 3.75em;
  /*padding-bottom: 3%;*/
  /*text-transform: none;*/
}

.hang {
  color: tomato;
  font-size :3em;
}

#nom {
  width: 100px;
  height: 100px;
  font-size :4em;
  color: tomato;
}

#meh {
  width: 100px;
  height: 100px;
  color: tomato;
  /*float: left;*/
  font-size :4em;
}

#flag {
  color: dimgrey;
  width: 100px;
  height: 100px;
  font-size :4em;
}

@media (max-width: 768px) {
  #pics img {
    width: 100%;
    margin: 0;
  }

  .text {
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    padding: 0;
    width: 15em;
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  #info {
    padding: 0;
  }

  #results {
    padding: 0;
  }
  #hangry {
    padding-bottom: 0;
    padding-top: 5%;
  }

  #nom {
    padding-top: 7%;
  }

  #meh {
    padding-top: 7%;
  }

  #flag {
    padding-top: 7%;
  }

  #wrapper {
    padding: 0;
  }
}
